@font-face {
    font-family: "TT Lakes";
    src: local("../../fonts/TTLakes/TTLakes-Bold.eot"),
      url("../../fonts/TTLakes/TTLakes-Bold.woff") format("woff"),
      url("../../fonts/TTLakes/TTLakes-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }